
/* Desktop devices (768px and up) */
@media only screen and (min-width: 768px) {
  #navshort {
    display: none;
  }

  #navbar {
    background: #fff;
    box-shadow: 0 0.5px 0 #dddfe6;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navContent {
    height: 24px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1a2236;
    margin: 25px;
  }

  .underlined {
    text-decoration: underline;
  }

  #firstpage footer {
    display: none;
  }

  #firstpage {
    width: 100vw;
    height: 100vh;
    display: grid;

    /* grid-template-rows: 100px 877px;
    grid-template-columns: auto; */
    background-image: url("images/image-geometry_1.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 48.75% 90%;

    /* background-size: cover; */
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    border: 2px solid red;
  }

  #firstpage header {
    width: 33%;
    padding: 192px 94px 160px 20px;
    border: 2px solid red;
  }
}
