body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

nav {
  min-height: 74px;
  background-image: url("image_geometry_1.svg");
  background-repeat: no-repeat;
}

header {
  margin: 30px 16px 0;
  height: 336;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-size: 50px;
  margin: auto 0;
  line-height: 50px;
  color: #1a2236;
  width: 220px;
  height: 100px;
}

#headline {
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  font-size: 14px;
  line-height: 21px;
  margin: 20px 0 40px;
  color: #1a2236;
  letter-spacing: -0.01em;
}

#collaboration {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #1a2236;
  margin: auto;
  height: 38px;
  width: 288px;
  padding-top: 12px;
}

footer {
  height: 240px;
  width: 100%;
  background-image: url("image_geometry_2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 32px;
}

.alignleft {
  text-align: left;
}

.alignright {
  float: right;
  padding: 19px 16px;
  width: 20px;
  height: 14px;
}
