body{
    min-height:100vh;
    min-width:100vw;
    display:flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
section {
height: 50vh;
width: 100vw;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-style: regular;
    Font-size: 50px;
    Line-height: 50px;
    color: #1A2236;
    width:25%;
}
#headline {
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-size: 14px;
    line-height: 21px;
    color: #1A2236;
    letter-spacing: -1%;
}
#box{
    font-family: 'Poppins', sans-serif;
    background-color: #1A2236;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px;
    height: 25px;
    width: 80%;
    margin: 5% auto;
    text-align: center;
}
footer>img{
    width: 100%;
}
.alignleft{
    text-align: Left;
}
.alignright{
    float: right;
}